.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  max-width: 400px;
  margin-top: 8px;
  margin-right: 9px;
  margin-bottom: 8px;
  display: flex;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-form {
  min-width: 200px;
  max-width: 500px;
  width: 150%;
  height: 90%;

}

.example-full-width {
  width: 150%;
}

td {
  padding-left: 20px;

}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}



.food{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#add {
  display: flex;
  justify-content: center;

}

#add_btn
{
  display: flex;
  width: 50%;
  background-color: green;
  justify-content: center;
  align-self: center;
}

#price
{
  color: #ff5b6a;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 5px;
  font-size: 20px;
}

#love{
  margin-left: 20px;
}
.page{
  display: flex;
  align-self: center;
  margin-top: 100px;
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 200%;
}
