<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>list</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Giao hàng</button>
  <button mat-menu-item>Hỗ trợ</button>
</mat-menu>
  <span>Food Shop</span>

  <form class="example-form">
   <td><mat-form-field class="example-full-width">
      <mat-label>Find some food</mat-label>
      <input matInput placeholder="Ex. Pizza">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field></td>
  </form>

  <span class="example-spacer"></span>
  <section>
    <button mat-button id="login">Đăng nhập</button>
    <button mat-button id="login">Đăng ký</button>

  </section>
    <button mat-icon-button class="example-icon settings-icon" aria-label="Example icon-button with settings icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with shopping_cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>

<h1>Các món đồ ăn xịn!!</h1>

<div class="food">
  <mat-card class="example-card" *ngFor="let item of food">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-md-image src="{{item.photoURL}}">
      </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>{{item.content}}</p>
      <hr>
      <br>
      <p id="price">{{item.price}}</p>
      <!-- <span *ngIf="item.status == true">Còn hàng</span>
      <span *ngIf="item.status == false ">Hết hàng</span> -->
      <span>{{getItemStaus(item.status)}}</span>

      </mat-card-content>

      <mat-card-footer>
        <mat-card-actions id="add">
          <button mat-button id="add_btn" (click)="this.addItem" >Buy</button>
          <button mat-button>
            <mat-icon id="love">favorite_border</mat-icon>
          </button>
          <button mat-button>
            <mat-icon id="love">thumb_down</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-footer>
  </mat-card>

  <div class="super_page">
  <footer>
    <div class="page">
      <button class="button" mat-stroked-button color="primary">
        <mat-icon>fast_rewind</mat-icon>
      </button>
      <button class="button" mat-stroked-button color="primary">1</button>
      <button class="button" mat-stroked-button color="primary">2</button>
      <button class="button" mat-stroked-button color="primary">3</button>
      <button class="button" mat-stroked-button color="primary">...</button>
      <button class="button" mat-stroked-button color="primary">20</button>
      <button class="button" mat-stroked-button color="primary">
        <mat-icon>fast_forward</mat-icon>
      </button>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
