<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>list</mat-icon>
  </button>
  <span>Food Shop</span>

  <form class="example-form">
   <td><mat-form-field class="example-full-width">
      <mat-label>Find some food</mat-label>
      <input matInput placeholder="Ex. Pizza">
      <mat-icon id="search">search</mat-icon>
    </mat-form-field></td>
  </form>

  <span class="example-spacer"></span>
  <section>
    <button mat-button id="login">Đăng nhập</button>
    <button mat-button id="login">Đăng ký</button>

  </section>
    <button mat-icon-button class="example-icon settings-icon" aria-label="Example icon-button with settings icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with shopping_cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>

<div class="food">
  <mat-card class="example-card" *ngFor="let fod of food">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Gà rán</mat-card-title>
        <img mat-card-md-image src="../assets/chicken.png"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Đây là một cái đuồi gà.</p>
      <hr>
      <br>

      </mat-card-content>

      <mat-card-footer>
        <mat-card-actions id="add">
          <button mat-button id="add_btn" >Buy</button>
        </mat-card-actions>
      </mat-card-footer>
  </mat-card>
</div>
<router-outlet></router-outlet>
