<div class="holder">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{Food.title}}</mat-card-title>
        <img mat-card-md-image src="{{Food.photoURL}}">
      </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>{{Food.content}}</p>
      <hr>
      <br>
      <p id="price">{{Food.price}}</p>
      <span *ngIf="Food.status == true">Còn hàng</span>
      <span *ngIf="Food.status == false ">Hết hàng</span>

      <!-- <span>{{getItemStaus(Food.status)}}</span> -->

      </mat-card-content>

      <mat-card-footer>
        <mat-card-actions id="add">
          <button *ngIf="Food.status == true" mat-button id="add_btn"(click)="addFood(Food)">Buy</button>
          <button mat-button  >
            <mat-icon id="love">favorite_border</mat-icon>
          </button>
          <button mat-button >
            <mat-icon id="love">thumb_down</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-footer>
  </mat-card>
</div>
